body {
  margin: 0;
  font-size: 1rem;
  height: auto;
}

h1 {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
}

ul {
  padding-left: 1.5rem;
}

.wrapper {
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.config {
  display: block;
  width: 36px
}

.textarea__wrapper {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.textarea {
  margin-bottom: 0.5rem;
}

.button__save {
  align-self: flex-end;
}

.link {
  display: flex;
  justify-content: flex-end;
}